    <main class="index">

        <header class="masthead d-flex">
            <div class="container text-center my-auto">
                <h1 class="mb-1">Favorite Links</h1>
                <h3 class="mb-5">
                    <em>Store your Favorite Links</em>
                </h3>
                <a href="/signin" class="btn btn-primary">
                    Start Storing Your Favorite Links   
                </a>
            </div>
            <div class="overlay"></div>
        </header>
    </main>