<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-light" href="/">Links Storage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Favorites links
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">All links</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Add A Link</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link text-light">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-light">Logout</a>
        </li>
        {{else}}
          <li class="nav-item">
            <a href="/signin" class="nav-link text-light">Log in</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link text-light">Sign Up</a>
          </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>